[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "*"
slack-sdk = "*"
pygithub = "*"
django = "~=3.2"

[dev-packages]
slack-bolt = "*"

[requires]
python_version = "3.9"
